<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty scope="context" name="appName" source="info.app.name"/>
    <springProperty scope="context" name="appVersion" source="info.app.version"/>

    <springProfile name="development">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>
        <logger name="uk.gov" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
        <logger name="searchCommandRoute" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>

    <springProfile name="!development">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerInfo>true</includeCallerInfo>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {
                        "timestamp" : "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSXXX\", UTC}",
                        "thread"    : "%thread",
                        "service"   : " ${appName}",
                        "logger"    : "%logger{50}",
                        "exception" : "%exception"
                        }
                    </pattern>
                </provider>
            </encoder>
        </appender>
        <logger name="uk.gov" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>

    <logger name="org.elasticsearch" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.apache.camel" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.amazonaws" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.camunda" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="io.undertow" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.springframework" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.flywaydb" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.hibernate" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.zaxxer" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.xnio" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>