<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty scope="context" name="appName" source="info.app.name"/>
    <springProperty scope="context" name="appVersion" source="info.app.version"/>

    <springProfile name="development">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>
        <logger name="uk.gov" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>

    <springProfile name="!development">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerInfo>true</includeCallerInfo>
            </encoder>
        </appender>
        <logger name="uk.gov" additivity="false" level="INFO">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>

    <logger name="org.camunda" additivity="false" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.eclipse.jetty" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.flywaydb" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.springframework" additivity="false" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.apache.camel" additivity="false" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.hibernate" additivity="false" level="INFO">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.zaxxer" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

</configuration>