<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <logger name="org.camunda" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="io.undertow" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.springframework" additivity="false" level="WARN">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>
